@model Investimentos.Models.TipoPapel

@{
    ViewData["Title"] = "Excluir";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir?</h3>

<hr />

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <blockquote>
                
                <p>@Html.DisplayFor(model => model.Tipo)</p>
                
            </blockquote>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-sm btn-danger link-btn">Excluir</button>
        <a asp-action="Index">Voltar à Lista</a>
    </form>
</div>