/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* btns >> editar / detalhes / excluir */
.btns {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

/* btns >> criar novo */
.btn-criar {
    margin: 15px 0;
}

/* titulo das pags */
.titulo {
    margin: 25px 0;
}

/* btns com links */
.link-btn {
    margin-right: 20px; 
}

/* btn criar novo historico */
#criar-historico {
    float: right;
    line-height: 14px;
}

/* btn filtrar */
#btn-filtrar {
    margin-left: 10px;
}

/* form de filtro */
#form-filtro {
    line-height: 38px;
}
input[type=date]{
    height: 2em;
}

/* div data maxima */
#div-dataMax {
    margin-left: 25px;
}

/* btn para ir ao topo da pag */
#btn-topo{
    float: right;
    bottom: 15px;
    right: 35px;
    position: fixed;
}

/* btn criar - carteira */
#criar-carteira{
    float: right;
    line-height: 0.4em;
}