@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center" style="margin-top: 15px;">
    <h2>Aplicativos</h2>
</div>

<hr />

<div class="row text-center">
    <div class="col-md-4">
        <h4><i class="fas fa-money-check-alt"></i> Corretora</h4>
        <ul class="list-unstyled">
            <li><a href="https://www.rico.com.vc/" target="_blank">Rico</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><i class="fas fa-chart-bar"></i> Análises</h4>
        <ul class="list-unstyled">
            <li><a href="https://statusinvest.com.br/" target="_blank">Status Invest</a></li>
            <li><a href="https://fundamentei.com/" target="_blank">Fundamentei</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><i class="fas fa-chart-pie"></i> Rentabilidade</h4>
        <ul class="list-unstyled">
            <li><a href="https://portal.trademap.com.br/portal/home" target="_blank">TradeMap</a></li>
        </ul>
    </div>
</div>